*{
    margin: 0px;
    padding: 0px;
    font: roboto, sans-serif;
}
.container{
    max-width: 1190px;
    margin: auto;
    padding: 100px 0px;
}
header{
    background-image: url(images/banner/banner2.png);
    background-size: cover;
    
}
.flex{
    display: flex;
}
header .flex{
    justify-content: flex-end;
}
.header-right{
    padding-top: 80px;
    width: 40%;
}
.header-right h1{
    font-size: 60px;
    text-align: right;
}
.header-right p{
    padding: 20px 0px;
    text-align: right;
    font-size: 16px;
}
.header-button{
    text-align: right;
    padding-top: 20px;
}
.button{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #F15B22;
    color: #fff;
}
.failures-right{
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: auto;
}
.failures-right-content h2{
    font-size: 40px;
    padding-bottom: 40px ;
}
.failures-right-content p{
    font-size: 18px;
    line-height: 26px;
}
.list{
    padding-top: 20px;
}
.list span i{
    color: #16D887;
    font-size: 20px;
    /* padding-left: 10px; */
}
.list span{
    font-size: 20px;
    display: inline-block;
}
.my_plans{
    padding: 50px 0px;
}
.plan_item{
    text-align: center;
}
.title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 40px;
}
.plan_item img{
    padding-bottom: 20px;
}
.plan_item p{
    padding-top: 10px;
    color: #737272;
    font-size: 20px;
}
.plan_items{
    justify-content: space-between; 
}
.positive_mindset .container{
    background-image: url(images/watch.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    padding: 0px;
}
.positive_mindset{
    padding-bottom: 60px;
}
.content{
    position: relative;
}
.content-text{
    position: absolute;
    top: 87px;
    left: 60px;
    font-size: 22px;
    width: 30%;
    color: #fff;
}
.content-text button{
    padding: 10px 20px;
    margin-top: 20px;
    color: #005FAC;
    font-size: 20px;
    border-radius: 5px;
    border: 0px solid #fff;
}
footer{
    background-color: black;
    padding: 50px 0px;
}
footer .container{
    justify-content: space-between; 
    color: #fff;
}
.footer_left_content{
    width: 40%;
}
.footer_left_content h2{
    font-size: 40px;
    padding-bottom: 20px;
}
.footer_left_content p{
    padding-bottom: 10px;
}
.footer_right_content input{
    display: block;
    padding: 10px;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
}
.footer_right_content h2{
    font-size: 20px;
    padding-bottom: 20px;
}
.footer_right_content button{
    margin-top: 20px;
    background: #005FAC;
    color: #fff;
    padding: 10px 21px;
    border-radius: 5px;
    font-size: 15px;
}
.footer_left_content p span{
    font-size: 20px;
    padding-right: 10px;
}