*{
    margin: 0px;
    padding: 0px;
}
.container{
    max-width: 1190px;
    margin: auto;
    padding: 100px 0px;
}
header{
    background-image: url(images/banner/banner2.png);
    background-size: cover;
    
}
.flex{
    display: flex;
}
header .flex{
    justify-content: flex-end;
}
.header-right{
    padding-top: 80px;
    width: 40%;
}
.header-right h1{
    font-size: 60px;
    text-align: right;
}
.header-right p{
    padding: 20px 0px;
    text-align: right;
    font-size: 16px;
}
.header-button{
    text-align: right;
    padding-top: 20px;
}
.button{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #F15B22;
    color: #fff;
}
.failures-right{
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: auto;
}
.failures-right-content h2{
    font-size: 40px;
    padding-bottom: 40px ;
}
.failures-right-content p{
    font-size: 18px;
    line-height: 26px;
}
.list{
    padding-top: 20px;
}
.list span i{
    color: #16D887;
    font-size: 20px;
    /* padding-left: 10px; */
}
.list span{
    font-size: 20px;
    display: inline-block;
}
.my_plans{
    padding: 50px 0px;
}
.plan_item{
    text-align: center;
}
.title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 40px;
}
.plan_item img{
    padding-bottom: 20px;
}
.plan_item p{
    padding-top: 10px;
    color: #737272;
    font-size: 20px;
}
.plan_items{
    justify-content: space-between; 
}